.serviceCard {
    padding: 20px;
    height: 100%;

    @include media-breakpoint-up('md') {
        &.serviceCard--content {
            padding: 3rem 5rem;
        }
    }

    &.serviceCard--content {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &.serviceCard--image {
        background-color: #FFE6D9;
    }

    &__title {
        color: $heading-black;
        font-weight: bold;
    }
    &__paragraph {
        text-align: center;
        color: $orange-300;
    }

}
