.hero-section {
    height: 40rem;
    background-image: image('1.jpeg');
    background-size: cover;
    background-position: 50% 70%;
    position: relative;
    z-index: 1;
    padding-bottom: 2.5rem;

    &::before {
        content: '';
        position: absolute;
        background: linear-gradient(0deg, #00000088 30%, #ffffff34 100%);
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;

    }

    .container {
        height: 100%;

        .row {
            height: 100%;
        }

        .text-content {
            color: $brand-color;

            .soft-text {

            }
            .hard-text {
                font-weight: bold;
                font-size: 3rem;
                letter-spacing: 1px;
                color: $white;
                text-align: center;
            }
        }
    }
}


.about-section {
    padding-top: 3rem;
    padding-bottom: 2rem;
    .contentBox {
        .about__heading {
            text-align: center;
            color: $heading-black;
            font-size: 1.7rem;
        }
        .about__content {
            color: $heading-black;
            text-align: center;
            font-size: 1rem;
            line-height: 1.5;
            .service {
                color: $another-orange;
            }
        }
        @include media-breakpoint-up(lg) {
            .about__heading {
                padding-bottom: 1rem;
                font-size: 2.4rem;
            }
            .about__content {
                font-size: 1.6rem;
            }
        }
    }
}


.service2-section {

    .section-subtitle {
        color: $brand-color;
        font-weight: bold;
    }

    .section-title {
        font-size: 2rem;
        padding-bottom: 2.6rem;
        font-weight: bold;
        letter-spacing: 0.1rem;

    }

    .service-list > * {
        padding-bottom: 2rem;
    }

    .service-icon {
        svg {
            fill: $brand-color;
            width: 2rem;
        }
    }

    .service-title {
        color: $gray-700;
        font-weight: bold;
    }
    .service-content {
        color: $gray-600;
        font-size: 0.8rem;
        line-height: 1.8;
    }
}

.service-section {
    background-color: #f2f2f2;
    padding-top: 2rem;

    &__title {
        color: $heading-black;
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        &__title {
            font-size: 2.8rem;
        }

    }
}

.blogs-section {
    background-color: #f2f2f2;

    @include media-breakpoint-up(lg) {
        &__heading {
            font-size: 2.6rem;
            margin-bottom: 2rem;
        }
        .blog__post {
            padding-bottom: unset;
            .blog__title {
                font-size: 1.3rem;
            }
            .blog__excerpt {
                font-size: 1.1rem;
            }
        }
    }
    &__heading {
        text-align: center;
        font-size: 1.6rem;
        font-weight: lighter;
        letter-spacing: 1px;
        color: $heading-black;
        margin-bottom: 2rem;
        & strong {
            font-weight: bold;
        }
    }

    .blog__post {
        padding-bottom: 1rem;
        .blog__image {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .blog__title {
            color: $heading-black;
            font-weight: bold;
            font-size: 1rem;
        }
        .blog__excerpt {
            font-size: 0.8rem;
        }
    }
}

.testimonial-section {
    @include media-breakpoint-up(lg) {
        .testimonial__heading {
            font-size: 2.8rem;
        }
    }
    .testimonial__heading {
        text-align: center;
        font-size: 1.8rem;
        font-weight: lighter;
        font-family: "Roboto";
        letter-spacing: 1px;
        color: $heading-black;
        & strong {
            font-weight: bold;
        }

    }
    .testimonial__card {
        padding: 2rem;
        background-color: #f2f2f2;
        color: $brand-color;

        &__title {
            font-size: 1.1rem;
            font-weight: 700;
            color: $heading-black;
        }

        &__paragraph {
            padding-top: 1rem;
            font-size: 0.9rem;
            color: $heading-black;
        }

        &__credits {
            &--name {

            }
            &--position {
                font-weight: bold;
            }
        }
    }
    .column:nth-of-type(2) .testimonial__card {
        .testimonial__card__title {
            color: $gray-600;
        }
        color: $gray-600;
        background-color: #FFE6D9;
    }
}



.consultation-form {
    padding-top: 1.7rem;
    background-color: #fd9f6d;
    padding-bottom: 2rem;
    .consultation__heading {
        text-align: center;
        padding-bottom: 1rem;
        font-size: 2.6rem;
        font-family: "Roboto";
        font-weight: lighter;
        color: $heading-black;
    }

    input, textarea {
        &::placeholder {
          color: $heading-black;
        }
    }
}


