.hero-section.hero-section--service {
    .container {
        .text-content {
            .hard-text {
                font-weight: 500;
            }
        }
    }
}

.about-google-ad {
    padding-top: 30px;
    padding-bottom: 30px;
}

.google-ad-2 {
    background: #fd9f6d;

    h5 {
        color: #000;
        font-weight: 400;
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
    }

    p {
        color: #fff;
        padding: 10px;
        text-align: center;
        padding-bottom: 40px;
    }

    figure img {
        width: 100%;
        height: 100%;
    }
}

.service__title {
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

.service__paragraph {
    color: #000;
    text-align: center;
    font-size: 13px;
}

.service-content {
    p {
        color: #000;
        line-height: 1.3;
    }

    .serviceCard--content {
        background-color: #f2f2f2;
        padding: 3rem;
        .serviceCard__title {
            font-weight: normal;
            font-size: 1.3rem;
            padding-bottom: 0.5rem;
        }
        .serviceCard__paragraph {
            font-size: 0.9rem;
        }
    }

    .lists > * div {
        padding: 4rem 1.2rem;
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lists > *:nth-child(odd) div {
        background-color: #ffe6d9;
        color: #827f7d;
    }
    .lists > *:nth-child(even) div {
        background-color: #f2f2f2;
        color: $brand-color;
    }
}

// For lg screen
@include media-breakpoint-up(lg) {
    .service__title {
        font-size: 28px;
    }
    .service__paragraph {
        padding-top: 15px;
        font-size: 14px;
    }
}
