[menu]
menu_id = 1
[contactForm]
==
use Captchamarketing\Consultationform\Models\Contact;

function onSubmitContactForm()
{
$data = post();
$rules = [
'name' => 'required',
'email' => 'required|email',
'phone' => 'required',
'message' => 'required|max:250'
];
$validation = Validator::make($data, $rules);

if ($validation->fails()) {
    throw new ValidationException($validation);
}
Contact::create($data);
Flash::success('Your message has been sent succesfully!');
}
==
<!doctype html>
<html lang="en">
<head>
    {% partial "meta" %}
    {% placeholder head %}
</head>
<body>

    <header class="header">

        {% partial "header_top" %}

        {% partial "header_bottom" %}

    </header>

{% page %}


    <section class="consultation-form">
        <div class="container" >
            <h1 class="consultation__heading">Request a consultation</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="message" id="message"></div>

                    <form data-request="onSubmitContactForm" data-request-validate data-request-flash data-request-update="success: '#message'" class="row g-3 ">
                        <div class="alert alert-danger" data-validate-error>
                            <p data-message></p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="intrest" placeholder="What are you intrested in ?" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="budget" placeholder="Monthly Budget" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="Name" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="email" placeholder="Email" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="phone" placeholder="Phone" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="website" placeholder="Website" id="" class="form-control">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12" style="text-align: center">
                            <button      data-attach-loading class="btn text-uppercase">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>



    <footer class="footer">
    <div class="container">
        <div class="row justify-content-center gy-4">
            <div class="col-md-4 services">
                <h3 class="footer__heading">Services</h3>
                <ul class="item__list">
                    <li class="item"><a href="">Google Ads</a></li>
                    <li class="item"><a href="">Social Media Marketing</a></li>
                    <li class="item"><a href="">Web Designing</a></li>
                    <li class="item"><a href="">Graphics | Animation</a></li>
                    <li class="item"><a href="">Videography</a></li>
                    <li class="item"><a href="">Photography</a></li>
                    <li class="item"><a href="">App Development</a></li>
                </ul>
                <div class="divider"></div>
            </div>

            <div class="col-md-4 info">
                <h3 class="footer__heading">
                    <img src="{{ url('themes/captcha-marketing/assets/images/logo/footer-logo.png') }}" alt="">
                </h3>
                <ul class="item__list contact">
                    <li class="item company_name">
                        Captcha Marketing
                    </li>
                    <li class="item">
                        <span class="address">Marsfield, Sydney</span>
                    </li>
                    <li class="item">
                        <span class="phone">0415505292 | 0422023558</span>
                    </li>
                    <li class="item">
                        <span class="email">info.captchamarketing@gmail.com</span>
                    </li>
                </ul>
                <div class="social-icons">
                    <a href="" class="facebook-icon">
                        <img src="{{ url('themes/captcha-marketing/assets/images/facebook.png') }}" alt="">
                    </a>
                    <a href="" class="twitter-icon">
                        <img src="{{ url('themes/captcha-marketing/assets/images/instagram.png') }}" alt="">
                    </a>
                    <a href="" class="linkedin-icon">
                        <img src="{{ url('themes/captcha-marketing/assets/images/linkedin.png') }}" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="{{ url('/themes/captcha-marketing/assets/js/app.js') }}"></script>
    <script src="{{ url('/themes/captcha-marketing/assets/js/jquery.min.js') }}" ></script>
    <script src="{{ url('/themes/captcha-marketing/assets/js/splide.min.js') }}" ></script>
    <script src="{{ url('/themes/captcha-marketing/assets/js/jquery-simple-mobilemenu.min.js') }}" ></script>

    <script>
        document.addEventListener( 'DOMContentLoaded', function () {
            new Splide( '.splide' ).mount();
        } );
    </script>

    <script>
            $('.mobile_menu').simpleMobileMenu({
                onMenuLoad: () => {
                    console.log("menu loaded");
            },
            onMenuToggle: ()=> {
                    console.log("toggel");
            }
            });
    </script>



    {% framework extras %}

    <script>
        var dropdown = $('.nav-item.dropdown');
        var megamenu = $('.megamenu');
        dropdown.hover(function() {
            megamenu.addClass('active');
            var menuId = $(this).data('menu-id');
            if(menuId) {
                let acitveSubmenu = $(".megamenu .submenu[data-menu-id ='" + menuId + "']")
                acitveSubmenu.addClass('active');
            }
        }, function () {
            var menuId = $(this).data('menu-id')
            if(menuId) {
                let acitveSubmenu = $(".megamenu .submenu[data-menu-id ='" + menuId + "']")
                acitveSubmenu.removeClass('active');
            }
            megamenu.removeClass('active');
        });
        megamenu.hover(() => {
            megamenu.addClass('active');
        }, () => {
            megamenu.removeClass('active');
        })

    </script>

</body>
</html>
