
[menu]
menu_id = 1
[contactForm]
==
use Captchamarketing\Consultationform\Models\Contact;

function onSubmitContactForm()
{
$data = post();
$rules = [
'name' => 'required',
'email' => 'required|email',
'phone' => 'required',
'message' => 'required|max:250'
];
$validation = Validator::make($data, $rules);

if ($validation->fails()) {
    throw new ValidationException($validation);
}
Contact::create($data);
Flash::success('Your message has been sent succesfully!');
}
==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{{ url('themes/captcha-marketing/assets/css/app.css') }}" rel="stylesheet">
    <link href="{{ url('themes/captcha-marketing/assets/css/jquery-simple-mobilemenu.css') }}" rel="stylesheet">
    <link href="{{ url('themes/captcha-marketing/assets/css/splide.min.css') }}" rel="stylesheet">

    {% placeholder head %}
</head>
<body>

    <header class="header">
        <div class="header-top">
            <div class="container-lg d-lg-block d-none">
                <div class="row">
                    <div class="col-2">
                        <a href="{{ url('/') }}" class="brand-logo">
                            <img src="{{ url('themes/captcha-marketing/assets/images/brand-logo.png') }}" alt="">
                        </a>
                    </div>
                    <div class="col-10 d-flex justify-content-end align-items-center">
                        <span class="question">Want a free <span class="fw-bold">digital marketing</span> evaluation & proposal ?</span>
                        <div>
                            <a href="" class="btn btn-black btn-sm ml-3" text="Book Now">Book Now</a>
                        </div>
                        <div>
                        <a href="" class="btn btn-orange ml-3 btn-sm number-btn">+61 - 041155023</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mobile-menu d-lg-none">
                <div class="row justify-content-between align-items-center py-1" >
                    <div class="col-3">
                        <div class="brand-logo">
                            <img src="{{ url('themes/captcha-marketing/assets/images/brand-logo2.png') }}" alt="Captcha Marketing Brand Logo">
                        </div>
                    </div>
                    <div class="text col-7">Want a free <span class="fw-bold">digital marketing</span> evaluation & <span class="fw-bold">proposal </span> ?</div>
                    <div class="col-2 ">
                        <ul class="mobile_menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <ul class="submenu">
                                <li><a href="">Google Ads Management</a></li>
                                <li><a href="">Social Media Marketing</a></li>
                                <li><a href="">Web Design</a></li>
                            </ul>
                            <li><a href="">Case Studies</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">About</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container d-none d-lg-block">
                            <div class="row align-items-center">
                                <div class="col-lg-12 ">
                                    <nav class="navbar navbar-expand-lg navbar-light">
                                        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                            <ul id="nav" class="navbar-nav">
                                                {% component 'menu' %}
                                            </ul>
                                    </nav>
                                    <div class="megamenu">
                                        <div class="container">
                                            <div class="d-flex bg-white justify-content-end">
                                                <div class="submenu" data-menu-id="Services">
                                                    <a href="" class="submenu-title">Services</a>
                                                    <ul class="submenu-ul">
                                                        <li class="submenu-li">
                                                            <a href="">Google Ads Management</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Social Media Marketing</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Web Pages Design</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Video Production</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                                <div class="submenu" data-menu-id="About">
                                                    <a href="" class="submenu-title">About</a>
                                                    <ul class="submenu-ul">
                                                        <li class="submenu-li">
                                                            <a href="">Web Design Services</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Small Business Web Design</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">E commerce Web Design</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Enterprise Web Solutions</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Custom Landing Pages</a>
                                                        </li>
                                                        <li class="submenu-li">
                                                            <a href="">Mobile App Development</a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
            <div class="container d-lg-none">
                <div class="d-flex align-items-center justify-content-center py-2">
                    <a href="" class="btn btn-black  ml-3 btn-xs" text="Book Now">Book Now</a>
                    <a href="" class="btn btn-orange btn-sm ml-3 number-btn">+61 - 041155023</a>
                </div>
            </div>
            </div>
        </div>

<!--        <div class="container">-->

<!--        </div>-->
    </header>

{% page %}


    <section class="consultation-form">
        <div class="container" >
            <h1 class="consultation__heading">Request a consultation</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="message" id="message"></div>

                    <form data-request="onSubmitContactForm" data-request-validate data-request-flash data-request-update="success: '#message'" class="row g-3 ">
                        <div class="alert alert-danger" data-validate-error>
                            <p data-message></p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="intrest" placeholder="What are you intrested in ?" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="budget" placeholder="Monthly Budget" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="Name" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="email" placeholder="Email" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="phone" placeholder="Phone" id="" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="website" placeholder="Website" id="" class="form-control">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12" style="text-align: center">
                            <button      data-attach-loading class="btn btn-primary px-5">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>



    <footer class="footer">
    <div class="container">
        <div class="row justify-content-center gy-4">
            <div class="col-md-4 services">
                <h3 class="footer__heading">Services</h3>
                <li class="item">Google Ads</li>
                <li class="item">Social Media Marketing</li>
                <li class="item">Web Designing</li>
                <li class="item">Graphics | Animation</li>
            </div>

            <div class="col-md-4 info">
                <h3 class="footer__heading">Contact us</h3>
                <div class="name"><b>Captcha Marketing</b></div>
                <div class="address">Marsfield, Sydney</div>
                <div class="phone_number">0415505292 | 0422023558</div>
                <div class="email">info.captchamarketing@gmail.com</div>
                <div class="social-icons">
                    <a href="" class="facebook-icon">
                        <img src="{{ url('themes/captcha-marketing/assets/images/facebook.png') }}" alt="">
                    </a>
                    <a href="" class="twitter-icon">
                        <img src="{{ url('themes/captcha-marketing/assets/images/instagram.png') }}" alt="">
                    </a>
                    <a href="" class="linkedin-icon">
                        <img src="{{ url('themes/captcha-marketing/assets/images/linkedin.png') }}" alt="">
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="{{ url('/themes/captcha-marketing/assets/js/app.js') }}"></script>
    <script src="{{ url('/themes/captcha-marketing/assets/js/jquery.min.js') }}" ></script>
    <script src="{{ url('/themes/captcha-marketing/assets/js/splide.min.js') }}" ></script>
    <script src="{{ url('/themes/captcha-marketing/assets/js/jquery-simple-mobilemenu.min.js') }}" ></script>

    <script>
        document.addEventListener( 'DOMContentLoaded', function () {
            new Splide( '.splide' ).mount();
        } );
    </script>

    <script>
            $('.mobile_menu').simpleMobileMenu({
                onMenuLoad: () => {
                    console.log("menu loaded");
            },
            onMenuToggle: ()=> {
                    console.log("toggel");
            }
            });
    </script>



    {% framework extras %}

    <script>
        var dropdown = $('.nav-item.dropdown');
        var megamenu = $('.megamenu');
        dropdown.hover(function() {
            megamenu.addClass('active');
            var menuId = $(this).data('menu-id');
            if(menuId) {
                let acitveSubmenu = $(".megamenu .submenu[data-menu-id ='" + menuId + "']")
                acitveSubmenu.addClass('active');
            }
        }, function () {
            var menuId = $(this).data('menu-id')
            if(menuId) {
                let acitveSubmenu = $(".megamenu .submenu[data-menu-id ='" + menuId + "']")
                acitveSubmenu.removeClass('active');
            }
            megamenu.removeClass('active');
        });
        megamenu.hover(() => {
            megamenu.addClass('active');
        }, () => {
            megamenu.removeClass('active');
        })

    </script>

</body>
</html>
