<div class="header-top">
    <div class="container-lg d-lg-block d-none">
        <div class="row">
            <div class="col-2">
                <a href="{{ url('/') }}" class="brand-logo">
                    <img src="{{ url('themes/captcha-marketing/assets/images/brand-logo.png') }}" alt="">
                </a>
            </div>
            <div class="col-10 d-flex justify-content-end align-items-center">
                <span class="question">Want a free digital marketing evaluation & proposal ?</span>
                <div>
                    <a href="" class="btn btn-black btn-sm ml-3" text="Book Now">Book Now</a>
                </div>
                <div>
                    <a href="" class="btn btn-orange ml-3 btn-sm number-btn">+61 - 041155023</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mobile-menu d-lg-none">
        <div class="navbar" >
                <div class="brand-logo">
                    <img src="{{ url('themes/captcha-marketing/assets/images/brand-logo2.png') }}" alt="Captcha Marketing Brand Logo">
                </div>
            <div class="text col-7">Want a free digital marketing evaluation & proposal ?</div>
            <nav>
                <ul class="mobile_menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <ul class="submenu">
                        <li><a href="">Google Ads Management</a></li>
                        <li><a href="">Social Media Marketing</a></li>
                        <li><a href="">Web Design</a></li>
                    </ul>
                    <li><a href="">Case Studies</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">About</a></li>

                </ul>
            </nav>

            </div>
        </div>
    </div>
</div>
