.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $black;

    &__heading {
        font-weight: bold;
    }

    .info, .services {
        color: $gray-200;
        font-size: 1.2rem;
    }

    .social-icons {
        a {
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    li {
        list-style: none;
    }



}
