.header {
    position: fixed;
    z-index: 11;
    width: 100%;
    .question {
        display: inline-block;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 22px;
        margin-right: 20px;
        vertical-align: middle;
        text-transform: uppercase;
        color: $orange-500;
        flex: 1;
        text-align: center;

    }
    .number-btn {
        margin-left: 20px;
    }

    .header-top {
        background-color: $white;
        .brand-logo {
            width: 120px;
            img {
                width: 100%;
                vertical-align: center;
            }
        }
        .mobile-menu {
            .navbar {
                display: flex;
                justify-content: flex-start;
                .brand-logo {
                    width: 51px;

                }
            }
            .text {
                flex: 1 1 40%;
                text-align:center;
                padding-left: 5px;
                padding-right: 10%;
                color: $another-orange;
                font-weight: 300;
                font-size: 13px;
                text-transform: uppercase;
            }

            .sideNav {
                height: 100%;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: $white;
                z-index: 111111;
                padding-left: 0;
                padding-top: 4rem;

                .item {
                    list-style-type: none;
                    width: 100%;
                    text-align: center;
                    padding: 0.8rem 0;
                    a {
                        font-size: 1.4rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }



    .header-bottom {
        background-color: $white;
        position: relative;
        transition: background-color 0.5s ease;

        &.almost-dark {
            background-color: rgba(50,50,50, 1);
        }
        .nav-item  {
            a {
                color: $white;
                font-size: 1.2rem;
                line-height: 60px;
                &.active {
                    color: $white;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .header-bottom {
            background-color: rgba($dark-grey, 0.1);
        }
    }
}



#sm_menu_ham {
    padding: 2px ;
    box-shadow: none;

    span {
        background-color: $another-orange !important;
    }
}

.sm_menu_outer {
    height: 100vh !important;
}
