.navbar {
    position: relative;
    padding: 0;

    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        .nav-item {
            font-family: $headings-font-family;
             > a {
                padding: 20px;
                 font-size: 12px;
                 text-decoration: none;
                color: $nav-color;
                &.active{
                    color: $black;
                }
            }

            &.dropdown {
                .dropdown-menu {
                    .dropdown-item {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
