<article class="blog-item">
    <figure class="blog-image">
        <img src="{{ 'assets/images/blogs/2.png'|theme }}" alt="">
    </figure>
    <div class="content">
        <h3 class="blog__title">Five Gmb Hacks</h3>
        <p class="blog__excerpt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, animi atque consequuntur, distinctio eos esse facere, impedit iure molestias natus nemo nihil odit provident quisquam reiciendis sunt tenetur veniam vero?
        </p>
        <div class="actions">
            <a href="" class="btn btn-primary">Read Article</a>
        </div>
    </div>
</article>
