        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="list-title">Services</h2>
                    <ul class="lists lists-styled">
                        <li><a href="">Google Ads Management</a></li>
                        <li><a href="">Social Media Marketing</a></li>
                        <li><a href="">Web Design</a></li>
                        <li><a href="">Graphics | Animation</a></li>
                        <li><a href="">Videography</a></li>
                        <li><a href="">Web Designing</a></li>
                        <li><a href="">App Development</a></li>

                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2 class="list-title">Contact Us</h2>
                    <ul class="lists">
                        <li><h4>Captcha Marketing</h4></li>
                        <li><h5>Marsfield, Sydney</h5></li>
                        <li><h5>0123456 | 6988990</h5></li>
                        <li><h5>info@captchamarketing.com.au</h5></li>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <p class="copyright-text">
                        Copyright &copy; 2021. Captcha Marketing Pvt. Ltd.
                    </p>
                </div>
            </div>
        </div>
