url = "/"
layout = "app"
[testimonialList]
maxItems=3
==
{% put head %}
    <title>Home | CaptchaMarketing</title>
{% endput %}


<section id="home" class="hero-section">
    <div class="container">
        <div class="row justify-content-center align-items-end ">
            <div class="col-md-12">
                <div class="text-content d-flex flex-column align-items-center">
                    <h4 class="soft-text">A digital agency that helps you go</h4>
                    <h1 class="hard-text">Beyond Your EXPECTATION</h1>
                    <button class="btn btn-orange  btn-sm text-uppercase">Request a consultation</button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-section">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-12 contentBox">
                <h2 class="text-center about__heading">Digital Marketing Agency Sydney</h2>
                <p class="about__content">
                    We are an award winning Digital Marketing Agency based in Sydney. We specialise in <span class="service">Google Ads, Social Media Marketing, Web Design, Graphics Design, and Animation</span> and all other digital marketing services.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="service-section">
    <div class="container">
        <h5 class="service-section__title pb-lg-5 pb-3">Digital Marketing Services</h5>
        <div class="row gy-1 gx-1 g-md-3 justify-content-center">
            <div class="col-6">
                <div class="serviceCard serviceCard--image">

                </div>
            </div>
            <div class="col-6">
                <div class="serviceCard serviceCard--content">
                    <h5 class="serviceCard__title">Google Ads</h5>
                    <p class="serviceCard__paragraph">We scale your business with <span class="fw-bold">ads on biggest SE</span> in the world.</p>
                </div>
            </div>

            <div class="col-6">
                <div class="serviceCard serviceCard--content">
                    <h5 class="serviceCard__title">Social Media Management</h5>
                    <p class="serviceCard__paragraph">We help potential customers <span class="fw-bold">discover your brand</span> on all major social platforms.</p>
                </div>
            </div>

            <div class="col-6">
                <div class="serviceCard serviceCard--image">

                </div>
            </div>

            <div class="col-6">
                <div class="serviceCard serviceCard--image">

                </div>
            </div>


            <div class="col-6">
                <div class="serviceCard serviceCard--content">
                    <h5 class="serviceCard__title">Web Design</h5>
                    <p class="serviceCard__paragraph">We design and build websites that <span class="fw-bold">capture</span> the <b>attention.</b></p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4 pb-4 pb-lg-0">
            <a href="" class="btn btn-orange d-inline-block">More Services</a>
        </div>
    </div>
</section>


<section class="testimonial-section py-4 d-none d-lg-block">
    <div class="container">
        <h3 class="testimonial__heading ">What our clients say about <strong>Captcha</strong></h3>
        <div class="row  justify-content-center py-4 gy-3">
            {% for testimonial in testimonialList.testimonials %}
            <div class="col-md-4 column">
                <div class="testimonial__card">
                    <h5 class="testimonial__card__title">{{ testimonial.company }}</h5>
                    <p class="testimonial__card__paragraph">
                        {{ testimonial.paragraph }}
                    </p>

                    <div class="testimonial__card__credits">
                        <div class="testimonial__card__credits__name">{{ testimonial.name }}</div>
                        <div class="testimonial__card__credits__position"><b>{{ testimonial.position }}</b></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="testimonial-section mobileview py-4 d-lg-none">
    <div class="container">
        <h3 class="testimonial__heading ">What our clients say about <strong>Captcha</strong></h3>
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for testimonial in testimonialList.testimonials %}
                        <li class="splide__slide">
                            <div class="testimonial__card">
                                <p class="testimonial__card__paragraph">
                                    {{ testimonial.paragraph }}
                                </p>

                                <div class="testimonial__card__credits">
                                    <div class="testimonial__card__credits__name">{{ testimonial.name }}</div>
                                    <div class="testimonial__card__credits__position"><b>{{ testimonial.position }}</b></div>
                                    <h5 class="testimonial__card__title">{{ testimonial.company }}</h5>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
<!--            <div class="col-md-4 column">-->

<!--            </div>-->

        </div>
</section>



<section class="blogs-section py-4">
    <div class="container">
        <h3 class="blogs-section__heading">Latest <strong>Blogs</strong></h3>
        <div class="blog__posts">
            <article class="blog__post">
                <div class="row">
                    <div class="col-sm-4">
                        <figure class="blog__image">
                            <img src="{{ url('themes/captcha-marketing/assets/images/blogs/1.png') }}" alt="">
                        </figure>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="blog__title">Digital marketing hacks to grow your business on Instagram's new shop tab</h3>
                        <p class="blog__excerpt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="text-center text-lg-start">
                            <button class="btn btn-orange btn-sm">Read More</button>
                        </div>
                    </div>
                </div>
            </article>
            <article class="blog__post">
                <div class="row">
                    <div class="col-sm-4">
                        <figure class="blog__image">
                            <img src="{{ url('themes/captcha-marketing/assets/images/blogs/2.png') }}" alt="">
                        </figure>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="blog__title">Digital marketing hacks to grow your business on Instagram's new shop tab</h3>
                        <p class="blog__excerpt">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="text-center  text-lg-start">
                            <button class="btn btn-orange btn-sm">Read More</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


